{% block title %}Ajouter un restaurant{% endblock %}

{% block body %}
    <h1>Ajouter un restaurant</h1>

    {{ form_start(restaurantForm) }}
    {{ form_row(restaurantForm.nom) }}
    {{ form_row(restaurantForm.description) }}
    {{ form_row(restaurantForm.adresse) }}
    {{ form_row(restaurantForm.complement) }}
    {{ form_row(restaurantForm.code_postal) }}
    {{ form_row(restaurantForm.siret) }}
    {{ form_row(restaurantForm.longitude) }}
    {{ form_row(restaurantForm.latitude) }}
    {{ form_row(restaurantForm.mail) }}
    {{ form_row(restaurantForm.telephone) }}
    {{ form_row(restaurantForm.rib) }}
    {{ form_row(restaurantForm.logo) }}
    {{ form_row(restaurantForm.nb_table) }}
    {{ form_row(restaurantForm.a_decouvrir) }}
    {{ form_row(restaurantForm.clickCollect) }}
    {{ form_row(restaurantForm.type) }}
    {{ form_row(restaurantForm.prix) }}

    <button type="submit" class="btn">Ajouter</button>
    {{ form_end(restaurantForm) }}
{% endblock %}
